.panel.panel-default #collapseOne1 #map {
    position: relative;
}

/*.Iceland{position:absolute; left:240px; top:67px; height:18px; width:25px;background-color:rgba(231, 211, 179, 0); border:2px;*/
/*    font-size: small; color: red;*/
/*    font-weight: bold;}*/


.Afghanistan {
    visibility: hidden;
    position: absolute;
    left: 387px;
    top: 143px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Alaska {
    visibility: hidden;
    position: absolute;
    left: 22px;
    top: 52px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Alberta {
    visibility: hidden;
    position: absolute;
    left: 71px;
    top: 86px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Argentina {
    visibility: hidden;
    position: absolute;
    left: 140px;
    top: 321px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Brazil {
    visibility: hidden;
    position: absolute;
    left: 170px;
    top: 253px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Britain {
    visibility: hidden;
    position: absolute;
    left: 226px;
    top: 118px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.China {
    visibility: hidden;
    position: absolute;
    left: 456px;
    top: 166px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Congo {
    visibility: hidden;
    position: absolute;
    left: 312px;
    top: 301px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.CtrlAmerica {
    visibility: hidden;
    position: absolute;
    left: 77px;
    top: 175px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.EAfrica {
    visibility: hidden;
    position: absolute;
    left: 340px;
    top: 270px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.EAustralia {
    visibility: hidden;
    position: absolute;
    left: 564px;
    top: 349px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.EasternUS {
    visibility: hidden;
    position: absolute;
    left: 125px;
    top: 139px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Egypt {
    visibility: hidden;
    position: absolute;
    left: 309px;
    top: 228px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Greenland {
    visibility: hidden;
    position: absolute;
    left: 183px;
    top: 22px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Iceland {
    visibility: hidden;
    position: absolute;
    left: 240px;
    top: 70px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.India {
    visibility: hidden;
    position: absolute;
    left: 423px;
    top: 201px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Indonesia {
    visibility: hidden;
    position: absolute;
    left: 483px;
    top: 281px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Irkutsk {
    visibility: hidden;
    position: absolute;
    left: 472px;
    top: 90px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Japan {
    visibility: hidden;
    position: absolute;
    left: 540px;
    top: 133px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Kamchatka {
    visibility: hidden;
    position: absolute;
    left: 527px;
    top: 42px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Madagascar {
    visibility: hidden;
    position: absolute;
    left: 365px;
    top: 350px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Mideast {
    visibility: hidden;
    position: absolute;
    left: 352px;
    top: 194px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Mongolia {
    visibility: hidden;
    position: absolute;
    left: 480px;
    top: 128px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.NAfrica {
    visibility: hidden;
    position: absolute;
    left: 248px;
    top: 237px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.NEurope {
    visibility: hidden;
    position: absolute;
    left: 281px;
    top: 123px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.NewGuinea {
    visibility: hidden;
    position: absolute;
    left: 533px;
    top: 272px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.NWTerritory {
    visibility: hidden;
    position: absolute;
    left: 93px;
    top: 51px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Ontario {
    visibility: hidden;
    position: absolute;
    left: 114px;
    top: 90px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Peru {
    visibility: hidden;
    position: absolute;
    left: 124px;
    top: 272px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Quebec {
    visibility: hidden;
    position: absolute;
    left: 157px;
    top: 90px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.SAfrica {
    visibility: hidden;
    position: absolute;
    left: 307px;
    top: 348px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.SEurope {
    visibility: hidden;
    position: absolute;
    left: 288px;
    top: 164px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Scandinavia {
    visibility: hidden;
    position: absolute;
    left: 283px;
    top: 75px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Siam {
    visibility: hidden;
    position: absolute;
    left: 474px;
    top: 221px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Siberia {
    visibility: hidden;
    position: absolute;
    left: 425px;
    top: 39px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Ukraine {
    visibility: hidden;
    position: absolute;
    left: 344px;
    top: 103px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Ural {
    visibility: hidden;
    position: absolute;
    left: 400px;
    top: 83px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Venezuela {
    visibility: hidden;
    position: absolute;
    left: 119px;
    top: 220px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.WAustralia {
    visibility: hidden;
    position: absolute;
    left: 502px;
    top: 348px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.WEurope {
    visibility: hidden;
    position: absolute;
    left: 237px;
    top: 180px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.WesternUS {
    visibility: hidden;
    position: absolute;
    left: 72px;
    top: 131px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.Yakutsk {
    visibility: hidden;
    position: absolute;
    left: 478px;
    top: 43px;
    height: 18px;
    width: 25px;
    background-color: rgba(231, 211, 179, 0);
    border: 2px;
    font-size: small;
    color: red;
    font-weight: bold;
}

.playerTurnID {
    visibility: hidden;
    position: absolute;
    left: 600px;
    top: 40px
}

.numTroopsRemaining {
    visibility: hidden;
    position: absolute;
    left: 600px;
    top: 50px
}

.attackControlled {
    visibility: hidden;
    position: absolute;
    left: 600px;
    top: 300px;
}

.attack20 {
    visibility: hidden;
    position: absolute;
    left: 600px;
    top: 340px;
}

.numberTroopsAttacking {
    visibility: hidden;
    position: absolute;
    left: 660px;
    top: 303px;
}

.select2 {
    visibility: hidden;
    position: absolute;
    left: 690px;
    top: 301px;
}

.attackingCountry {
    visibility: hidden;
    position: absolute;
    left: 580px;
    top: 100px;
}

.isAttacking {
    visibility: hidden;
    position: absolute;
    left: 660px;
    top: 100px;
}

.defendingCountry {
    visibility: hidden;
    position: absolute;
    left: 750px;
    top: 100px;
}

.attackingTroops {
    visibility: hidden;
    position: absolute;
    left: 615px;
    top: 130px;
}

.undoButton {
    visibility: hidden;
    position: absolute;
    left: 650px;
    top: 130px;
}

.defendingTroops {
    visibility: hidden;
    position: absolute;
    left: 720px;
    top: 130px;
}

.endTurn {
    visibility: hidden;
    position: absolute;
    left: 620px;
    top: 400px
}

.restart {
    visibility: hidden
}

.turnPhase {
    visibility: hidden;
    position: absolute;
    left: 625px;
    top: 20px;
}

.randomAssigns {
    visibility: hidden;
    position: absolute;
    left: 625px;
    top: 250px
}

.DontMoveTroops {
    visibility: hidden;
    position: absolute;
    left: 625px;
    top: 100px;
}